<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/trainer">Pokemon Trainer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/trainer"
        >Trainer <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="/catalogue">Catalogue</a>
    </div>
  </div>
  <span *ngIf="trainerName !== ''" class="navbar-text"
    >Welcome, {{ trainerName }}</span
  >
</nav>
<br />
