<div class="container">
  <h1>Trainer - Collected pokemons</h1>
  <div class="m-3">
    <app-details [pokemonInfo]="pokemonToFocusOn"></app-details>
  </div>
  <div class="card-group">
    <app-pokemon
      (pokemonToFocusOn)="updatePokemonFocus($event)"
      *ngFor="let pokemon of pokemons"
      [pokemonInfo]="pokemon"
    ></app-pokemon>
  </div>
</div>
