<div class="card text-center mb-3 ml-3" style="width: 14.6rem">
  <img
    class="card-img-top mx-auto d-block"
    [src]="pokemonInfo.baseStats.image"
    style="width: 7em"
    [alt]="pokemonInfo.baseStats.name"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ pokemonInfo.baseStats.name }}
    </h5>
    <a (click)="onDetailsClick($event)" class="btn btn-primary">Details</a>
  </div>
</div>
