<div class="container">
  <h1>Landing page</h1>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="fname">Trainer Name</label>
      <input
        class="form-control"
        type="text"
        id="fname"
        name="fname"
        placeholder="Enter your trainer name..."
        formControlName="trainerName"
        required
        minlength="3"
        maxlength="15"
      />
      <div
        *ngIf="
          trainerName.invalid && (trainerName.dirty || trainerName.touched)
        "
      >
        <p
          *ngIf="trainerName.errors.required"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Trainer name is required
        </p>
        <p
          *ngIf="trainerName.errors.minlength"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Trainer name should be at least 3 characters
        </p>
        <p
          *ngIf="trainerName.errors.maxlength"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Trainer name should be max 15 characters
        </p>
      </div>
      <input
        class="btn btn-primary mt-1"
        type="submit"
        value="Login"
        [disabled]="loginForm.invalid"
        (click)="onSubmit($event)"
      />
    </div>
  </form>
</div>
