<div class="card">
  <div class="card-header">Pokemon Details</div>
  <div class="card-body">
    <blockquote *ngIf="pokemonInfo !== null" class="blockquote mb-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>{{ pokemonInfo.baseStats.name }}</h1>
            <img
              class="card-img-left mx-auto d-block"
              [src]="pokemonInfo.baseStats.image"
              style="width: 7em"
              [alt]="pokemonInfo.baseStats.name"
            />
            <h5>Xp: {{ pokemonInfo.profile.baseExperience }}</h5>
            <h5>Heigt: {{ pokemonInfo.profile.height }}</h5>
            <h5>Weight: {{ pokemonInfo.profile.weight }}</h5>
            <button
              *ngIf="!collected"
              class="btn btn-success"
              (click)="onCollectClick($event)"
            >
              Collect
            </button>
            <button
              *ngIf="collected"
              disabled="true"
              class="btn btn-secondary"
              (click)="onCollectClick($event)"
            >
              Collected
            </button>
          </div>
          <div class="col">
            <h3>Stats</h3>
            <ul>
              <li *ngFor="let stat of pokemonInfo.baseStats.stats">
                {{ stat.name }}: {{ stat.baseStat }}
              </li>
            </ul>
          </div>
          <div class="col">
            <h3>Types</h3>
            <ul>
              <li *ngFor="let type of pokemonInfo.baseStats.types">
                {{ type }}
              </li>
            </ul>
            <h3>Abilities</h3>
            <ul>
              <li *ngFor="let ability of pokemonInfo.profile.abilities">
                {{ ability }}
              </li>
            </ul>
          </div>
          <div class="col">
            <h3>Moves</h3>
            <span *ngFor="let move of pokemonInfo.moves"> {{ move }}, </span>
          </div>
        </div>
      </div>
    </blockquote>
    <blockquote *ngIf="pokemonInfo === null" class="blockquote mb-0">
      <p>Click on the "Details" button of a pokemon to see</p>
    </blockquote>
  </div>
</div>
