<div class="container">
  <h1>Catalogue</h1>
  <div class="m-3">
    <app-details [pokemonInfo]="pokemonToFocusOn"></app-details>
  </div>
  <div class="card-group">
    <app-pokemon
      (pokemonToFocusOn)="updatePokemonFocus($event)"
      *ngFor="let pokemon of pokemons"
      [pokemonInfo]="pokemon"
    ></app-pokemon>
  </div>
  <div style="float: right">
    <button
      class="btn btn-primary m-2"
      *ngIf="currentPage > 0"
      (click)="onPreviousPageClick()"
    >
      Previous Page
    </button>
    <button class="btn btn-primary m-2" (click)="onNextPageClick()">
      Next Page
    </button>
  </div>
</div>
